Repository FTCLib/FTCLib, pull requests merged in 2020-12, with the labels that each got.

#123 fix: vector projection formula
  core/src/main/java/com/arcrobotics/ftclib/geometry/Vector2d.java
Labels: bug

#132 Add More Functional Parallelism to Scheduler
  LICENSE
  LICENSE.md
  core/src/main/java/com/arcrobotics/ftclib/command/CommandScheduler.java
  core/src/main/java/com/arcrobotics/ftclib/command/StartEndCommand.java
  core/src/test/java/com/arcrobotics/ftclib/command/CommandSchedulerTests.java
Labels: enhancement, internal

#131 Adds AngleUnit into Servo wrapper
  core/src/main/java/com/arcrobotics/ftclib/hardware/ServoEx.java
  core/src/main/java/com/arcrobotics/ftclib/hardware/SimpleServo.java
  examples/src/main/java/com/example/ftclibexamples/GamepadSample.java
  examples/src/main/java/com/example/ftclibexamples/OldCommandSample/Auto.java
Labels: enhancement, hardware

#135 Change EOCV Version to 1.4.2
  core/src/test/java/com/arcrobotics/ftclib/command/CommandSchedulerTests.java
  core/vision/build.gradle
  readme.md
Labels: vision

#129 MotorEx/Motor PID Mode Improvement
  core/src/main/java/com/arcrobotics/ftclib/hardware/motors/CRServo.java
  core/src/main/java/com/arcrobotics/ftclib/hardware/motors/Motor.java
  core/src/main/java/com/arcrobotics/ftclib/hardware/motors/MotorEx.java
Labels: enhancement, hardware

#142 Revert Value Reading and Add Read Method to GamepadEx
  core/src/main/java/com/arcrobotics/ftclib/gamepad/ButtonReader.java
  core/src/main/java/com/arcrobotics/ftclib/gamepad/GamepadEx.java
  core/src/main/java/com/arcrobotics/ftclib/gamepad/TriggerReader.java
  core/src/main/java/com/arcrobotics/ftclib/hardware/ServoEx.java
  core/src/test/java/com/arcrobotics/ftclib/gamepad/GamepadButtonTest.java
  examples/src/main/java/com/example/ftclibexamples/GamepadSample.java
Labels: enhancement

#140 Add RunCommand
  core/src/main/java/com/arcrobotics/ftclib/command/RunCommand.java
  core/src/test/java/com/arcrobotics/ftclib/command/CommandSchedulerTests.java
Labels: enhancement

#134 Fix Pause Test For Timer
  core/src/test/java/com/arcrobotics/ftclib/util/TimingTest.java
Labels: internal

#136 Remove PController from CRServo
  core/src/main/java/com/arcrobotics/ftclib/hardware/motors/CRServo.java
Labels: enhancement, hardware, internal

#143 Fix IMU Efficiency
  core/src/main/java/com/arcrobotics/ftclib/hardware/RevIMU.java
Labels: hardware, internal, quick

#111 Gamepad Extensions for Kotlin
  core/src/main/java/com/arcrobotics/ftclib/kotlin/extensions/gamepad/GamepadExExt.kt
  core/src/main/java/com/arcrobotics/ftclib/kotlin/extensions/hardware/SimpleServoExt.kt
  examples/build.gradle
  examples/src/main/java/com/example/ftclibexamples/VisionSample/UGContourRingPipelineJavaExample.java
  examples/src/main/java/com/example/ftclibexamples/VisionSample/UGContourRingPipelineKtExample.kt
  examples/src/main/java/com/example/ftclibexamples/kotlinexamples/GamepadExExtSamples.kt
  examples/src/main/java/com/example/ftclibexamples/kotlinexamples/GeometryExtSample.kt
  examples/src/main/java/com/example/ftclibexamples/kotlinexamples/LUTExtSample.kt
  examples/src/main/java/com/example/ftclibexamples/kotlinexamples/RobotDriveExtSample.kt
  examples/src/main/java/com/example/ftclibexamples/kotlinexamples/SimpleServoExtSample.kt
Labels: enhancement

#151 Fix Target Position For Non-Default Distance Per Pulse
  core/src/main/java/com/arcrobotics/ftclib/hardware/motors/Motor.java
Labels: bug, hardware

#158 Fix Sensor Styling and Invalid Logic
  core/src/main/java/com/arcrobotics/ftclib/hardware/RevIMU.java
  core/src/main/java/com/arcrobotics/ftclib/hardware/SensorColor.java
  core/src/main/java/com/arcrobotics/ftclib/hardware/SensorDistance.java
  core/src/main/java/com/arcrobotics/ftclib/hardware/SensorDistanceEx.java
  core/src/main/java/com/arcrobotics/ftclib/hardware/SensorRevTOFDistance.java
Labels: bug, hardware, invalid
