Repository FTCLib/FTCLib, pull requests merged in 2021-01, with the labels that each got.

#163 Add Contour Detector Sample
  examples/src/main/java/com/example/ftclibexamples/VisionSample/UGContourRingDetectorSample.java
  examples/src/main/java/com/example/ftclibexamples/VisionSample/UGRectRingVisionSample.java
Labels: samples, vision

#167 Fix MotorEx Velocity Stack Overflow Bug
  core/src/main/java/com/arcrobotics/ftclib/hardware/motors/MotorEx.java
Labels: bug

#169 Improve MotorEx Velocity and Motor Configuration Type
  core/src/main/java/com/arcrobotics/ftclib/hardware/motors/Motor.java
  core/src/main/java/com/arcrobotics/ftclib/hardware/motors/MotorEx.java
Labels: hardware, improvement, internal

#174 Remove normalization from AngleUnit in SimpleServo
  core/src/main/java/com/arcrobotics/ftclib/hardware/SimpleServo.java
Labels: bug, hardware, internal
